<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">


	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:ajax4jsf.properties</value>
		</property>
	</bean>

	<bean id="fileUploadManager" class="mx.com.sidlors.services.FileUploadManager">
		<property name="repository" value="${app.fileupload.repository}" />
		<property name="tempDirectory" value="${app.fileupload.temp.repository}" />
		<property name="maxMemorySize" value="${app.fileupload.maxMemorySize}" />
	</bean>

	<!-- Inyeccion por Constructor -->
	<bean id="OutputHelper" class="mx.com.sidlors.services.OutputHelper">
		<constructor-arg>
			<bean class="mx.com.sidlors.services.CsvOutputGenerator" />

		</constructor-arg>
	</bean>

	<!-- Inyeccion por metodo Set -->
	<bean id="OutputHelperSeteadoTxt" class="mx.com.sidlors.services.OutputHelper">
		<property name="outputGenerator" ref="OutputHelperTxt" />
	</bean>

	<!-- Inyeccion por metodo Set -->
	<bean id="OutputHelperSeteado" class="mx.com.sidlors.services.OutputHelper">
		<property name="outputGenerator" ref="JsonOutputGenerator" />
	</bean>
	<bean id="CsvOutputGenerator" class="mx.com.sidlors.services.CsvOutputGenerator" />
	<bean id="JsonOutputGenerator" class="mx.com.sidlors.services.JsonOutputGenerator" />
	<bean id="OutputHelperTxt" class="mx.com.sidlors.services.TxtOutputGenerator" />
	<bean id="batchReportClient" class="com.sidlors.async.service.BatchReportClient">
		<property name="service" ref="synchronousQueueService" />
		<property name="request" value="${app.report.maxNumThreads}" />
	</bean>
	<bean id="synchronousQueueService" class="com.sidlors.async.service.SynchronousQueueService" />
	<bean id="downloaderReportService" class="com.sidlors.async.service.DownloaderReportService">
		
	</bean>



</beans>
